<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head lang="fr">
    <title>Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form method="POST" action="">
    <h1>Evaluer un module</h1>
    <label for="module">Module</label>
    <select id="module" name="module">
        <option th:each="module:${modules}" th:object="${module}" th:value="*{id}" th:text="*{label} + ' - ' + *{verboseName}"></option>
    </select>
    <br/>
    <div th:replace="/frags/select_mark::select_mark(consistency, 'Cohérence CM/TD/TP', 0)"></div>
    <div th:replace="/frags/select_mark::select_mark(documentation, Documentation, 0)"></div>
    <div th:replace="/frags/select_mark::select_mark(lecture, 'Cours Magistraux', 0)"></div>
    <div th:replace="/frags/select_mark::select_mark(personalInterest, 'Interêt personnel', 0)"></div>
    <div th:replace="/frags/select_mark::select_mark(practicalWork, 'Travaux Pratiques', 0)"></div>
    <div th:replace="/frags/select_mark::select_mark(tutorial, 'Travaux Dirigés', 0)"></div>
    <div th:replace="/frags/select_mark::select_mark(workload, 'Charge de travail', 0)"></div>
    <label for="comment">Commentaire</label>
    <textarea id="comment" name="comment" placeholder="Commentaire à propos du module..."></textarea>
    <br/>
    <input type='submit' name="Evaluer"/>
</form>
<hr/>
<table>
    <caption>Evaluations</caption>
    <thead>
    </thead>
    <tbody>
    <tr th:each="eval: ${evals}">
        <td th:object="${eval.module}"><a th:text="*{label} + ' - ' + *{verboseName}" th:href="@{evaluation/} + ${eval.id}"></a></td>
    </tr>
    </tbody>
</table>
<hr/>
</body>
</html>