<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head lang="fr">
    <title>Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form method="POST" action="">
    <h1>Evaluer un module</h1>
    <label for="module">Module</label>
    <select id="module" name="module">
        <option th:each="module: ${modules}" th:value="${module.id}" th:text="${module.label} + ' - ' + ${module.verboseName}"></option>
    </select>
    <br/>
    <label for="consistency">Cohérence CM/TD/TP</label>
    <select id="consistency" name="consistency" size="1">
        <option value="0" selected="selected">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br/>
    <label for="documentation">Documentation</label>
    <select id="documentation" name="documentation" size="1">
        <option value="0" selected="selected">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br/>
    <label for="lecture">Cours Magistraux</label>
    <select id="lecture" name="lecture" size="1">
        <option value="0" selected="selected">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br/>
    <label for="personnalInterest">Interêt personnel</label>
    <select id="personnalInterest" name="personnalInterest" size="1">
        <option value="0" selected="selected">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br/>
    <label for="practicalWork">Travaux Pratiques</label>
    <select id="practicalWork" name="practicalWork" size="1">
        <option value="0" selected="selected">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br/>
    <label for="tutorial">Travaux Dirigés</label>
    <select id="tutorial" name="tutorial" size="1">
        <option value="0" selected="selected">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br/>
    <label for="workload">Charge de travail</label>
    <select id="workload" name="workload" size="1">
        <option value="0" selected="selected">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br/>
    <label for="comment">Commentaire</label>
    <textarea id="comment" name="comment" placeholder="Commentaire à propos du module..."></textarea>
    <br/>
    <input type='submit' name="Evaluer"/>
</form>
<hr/>
<table>
    <caption>Evaluations</caption>
    <thead>
    <tr>
    </tr>
    </thead>
    <tbody>
    <tr th:each="eval: ${evals}">
    </tr>
    </tbody>
</table>
<hr/>
</body>
</html>