<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.thymeleaf.org" lang="fr">
<head th:replace="/frags/includes::head(${'Panneau d''administration'})"></head>
<body>
<div th:replace="/frags/includes::navbar(${'admin'})"></div>
<header id="head">
	<div class="container">
		<div class="row">
			<h1 class="lead">Organiser, Gérer, Modifier</h1>
			<p class="tagline">Panneau d'administration</p>
			<p><a href="/admin/modules/" class="btn btn-default btn-lg" role="button">Modules</a> <a
					href="/admin/users/" class="btn btn-default btn-lg" role="button">Utilisateurs</a></p>
		</div>
	</div>
</header>
<div class="jumbotron top-space">
	<div class="container">
		<div class="container text-center">
			<h2 class="thin"><i class="fa fa-info fa-2"></i> Vous êtes connecté en tant qu'administrateur</h2>
			<p class="text-muted">
				Vous pouvez ajouter/modifier/supprimer des modules d'enseignement et/ou des utilisateurs au sein de la base de données.
				<br/>
				Vous avez également la possibilité de lier entre eux les utilisateurs et les modules
				afin de définir les enseignants en charge de ces dernier ou les étudiants qui y sont inscrits.
			</p>
		</div>
	</div>
</div>
<footer th:replace="/frags/includes::foot"></footer>
</body>
</html>