<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.thymeleaf.org ">
<head th:replace="/frags/includes::head('Module - '+ ${module.verboseName})"></head>
<body>
<div th:replace="/frags/includes::navbar(${'admin'})"></div>
<header id="head" class="secondary"></header>
<div class="container">
	<div class="row">
		<article class="col-sm-9 maincontent">
			<header class="page-header">
				<h1 class="page-title" th:object="${module}" th:text="*{label} + ' - ' + *{verboseName}"></h1>
			</header>
			<form th:replace="/frags/form::module-form"></form>
		</article>
		<aside class="col-sm-3 sidebar sidebar-right">
			<div class="widget">
				<h4>Information</h4>
				<p class="text-justify">Ce formulaire vous permet de modifier les informations relatives à ce module.</p>
			</div>
		</aside>
		<article class="col-xs-12 maincontent">
			<div class="jumbotron top-space">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-9 highlight">
							<div class="h-caption"><h3><i class="fa fa-users fa-5"></i>Etudiants inscrits</h3></div>
							<div class="h-body text-center" style="font-size: 18px; line-height:1.2">
								<div th:if="${!students.isEmpty()}" th:each="student:${students}" th:object="${student}">
									<p><a th:href="@{/admin/user/} + *{id}"
										  th:text="*{id} + ' - ' + *{firstname} + '  ' + *{lastname}"></a></p>
								</div>
								<div th:if="${students.isEmpty()}"><p style="font-size: 16px">Aucun étudiant inscrit</p></div>
							</div>
						</div>
						<div class="col-md-6 col-sm-9 highlight">
							<div class="h-caption"><h3><i class="fa fa-users fa-5"></i>Enseignants référents</h3></div>
							<div class="h-body text-center" style="font-size: 18px; line-height:1.2">
								<div th:if="${!teachers.isEmpty()}" th:each="teacher:${teachers}" th:object="${teacher}">
									<p><a th:href="@{/admin/user/} + *{id}"
										  th:text="*{id} + ' - ' + *{firstname} + '  ' + *{lastname}"></a></p>
								</div>
								<div th:if="${teachers.isEmpty()}"><p style="font-size: 16px">Aucun enseignant référent</p></div>
							</div>
						</div>
					</div>
					<br/>
				</div>
			</div>
		</article>
	</div>
</div>
<footer th:replace="/frags/includes::foot"></footer>
</body>
</html>