<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head lang="fr">
    <title th:object="${module}" th:text="*{label} + ' - ' + *{verboseName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header th:replace="/frags/header::admin-header"></header>
<h1>Modifier le module</h1>
<form th:replace="/frags/form::module-form"></form>
<hr/>
<h2>Etudiants inscrits :</h2>
<ul th:each="student:${students}" th:object="${student}">
    <li><a th:href="@{/admin/user/} + *{id}" th:text="*{id} + ' - ' + *{firstname} + '  ' + *{lastname}"></a></li>
</ul>
<hr/>
<h2>Enseignants référents :</h2>
<ul th:each="teacher:${teachers}" th:object="${teacher}">
    <li><a th:href="@{/admin/user/} + *{id}" th:text="*{id} + ' - ' + *{firstname} + '  ' + *{lastname}"></a></li>
</ul>
<hr/>
</body>
</html>