<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head lang="fr">
    <title th:text="${teacher.firstname + ' ' + teacher.lastname}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="/frags/header::admin-header"></div>
<form method="POST" action="">
    <h1>Lier module</h1>
    <select name="module">
        <option th:each="module: ${modules}" th:object="${module}" th:value="*{id}" th:text="*{label} + ' - ' + *{verboseName}"></option>
    </select>
    <br/>
    <input type='submit' name="Lier"/>
</form>
<hr/>
<table>
    <caption>Enseigne</caption>
    <thead>
    <tr>
        <th>Nom</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="module:${linked_modules}" th:object="${module}">
        <td th:text="*{verboseName}"></td>
    </tr>
    </tbody>
</table>
<hr/>
</body>
</html>