<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head lang="fr">
    <title th:text="${user.firstname + ' ' + user.lastname}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header th:replace="/frags/header::admin-header"></header>
<div th:if="${!unlinked_modules.isEmpty()}">
<h1>Lier module</h1>
<form method="POST" th:action="'/admin/user/' + ${user.id} + '/link'">
    <table>
        <tr>
            <td>
                <select name="module">
                    <option th:each="module: ${unlinked_modules}" th:object="${module}"
                            th:value="*{id}" th:text="*{label} + ' - ' + *{verboseName}"></option>
                </select>
            </td>
            <td><input type="submit" value="Lier"/></td
        </tr>
    </table>
</form>
</div>
<h1>Modifier l'utilisateur</h1>
<form th:replace="/frags/form::user-form"></form>
<hr/>
    <h2 th:with="text=${user instanceof T(m2.info.models.user.Teacher) ? 'Enseigne' : 'Est inscrit dans'}" th:text="${text} + ' :'"></h2>
    <ul th:each="module:${linked_modules}" th:object="${module}">
        <li><a th:href="@{/admin/module/} + *{id}" th:text="*{label} + ' - ' + *{verboseName}"></a></li>
    </ul>
<hr/>
</body>
</html>