<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head lang="fr">
    <title>Panneau utilisateur</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header th:replace="/frags/header::admin-header"></header>
<h1>Ajouter un nouvel utilisateur</h1>
<form method="POST" action="">
    <table>
        <tr>
            <td><label for="id">Identifiant national *</label></td>
            <td><input type="text" id="id" name="id" required="required" pattern="\w*"
                       minlength="11" maxlength="11" title="11 caractères alphanumériques"/></td>
        </tr>
        <tr>
            <td><label for="lastname">Nom *</label></td>
            <td><input type="text" id="lastname" name="lastname" maxlength="16" required="required"
                       pattern="[A-Za-zàéèêë]+-?[A-Za-zàéèêë]+"
                       title="2 caractères min., alphabétiques ou '-'"/></td>
        </tr>
        <tr>
            <td><label for="firstname">Prénom *</label></td>
            <td><input type="text" id="firstname" name="firstname" maxlength="16" required="required"
                       pattern="[A-Za-zàéèêë]+-?[A-Za-zàéèêë]+"
                       title="2 caractères min., alphabétiques ou '-'"/></td>
        </tr>
        <tr>
            <td>
                <fieldset>
                    <legend>Rôle</legend>
                    <label for="teacherAuth">Enseignant</label>
                    <input type="radio" id="teacherAuth" value="TEACHER" name="authority"/>
                    <label for="studentAuth">Etudiant</label>
                    <input type="radio" id="studentAuth" value="STUDENT" name="authority" checked="checked"/>
                </fieldset>
            </td>
            <td><input type="submit" value="Ajouter"/></td>
        </tr>
    </table>
</form>
<hr/>
<table>
    <caption>Utilisateurs</caption>
    <thead>
    <tr>
        <th>Identifiant national</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Identifiant</th>
        <th>Rôle</th>
        <th>Supprimer</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}" th:object="${user}">
        <td><a th:text="*{id}" th:href="@{/admin/user/} + *{id}"></a></td>
        <td th:text="*{lastname}"></td>
        <td th:text="*{firstname}"></td>
        <td th:text="*{username}"></td>
        <td th:with="role=${user instanceof T(m2.info.models.user.Teacher) ? 'Enseignant' : 'Etudiant'}" th:text="${role}"></td>
        <td><a th:href="@{/admin/user/} + *{id} + '/delete'">X</a></td>
    </tr>
    </tbody>
</table>
<hr/>
</body>
</html>