<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head lang="fr">
    <title>Panneau utilisateur</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form method="POST" action="">
    <h1>Ajouter un nouvel utilisateur</h1>
    <label for="id">N° identifiant *</label>
    <input type="text" id="id" name="id" required="required"/>
    <br/>
    <label for="lastname">Nom *</label>
    <input type="text" id="lastname" name="lastname" maxlength="32" required="required"/>
    <br/>
    <label for="firstname">Prénom *</label>
    <input type="text" id="firstname" name="firstname" maxlength="32" required="required"/>
    <br/>
    <label for="teacherAuth">Enseignant</label>
    <input type="radio" id="teacherAuth" value="TEACHER" name="authority"/>
    <label for="studentAuth">Etudiant</label>
    <input type="radio" id="studentAuth" value="STUDENT" name="authority" checked="checked"/>
    <input type='submit' name="Ajouter"/>
</form>
<hr/>
<table>
    <caption>Enseignants</caption>
    <thead>
    <tr>
        <th>N° enseignant</th>
        <th>Nom</th>
        <th>Prénom</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="teacher: ${teachers}">
        <td><a th:text="${teacher.id}" th:href="@{../../admin/teacher/} + ${teacher.id}"></a></td>
        <td th:text="${teacher.lastname}"></td>
        <td th:text="${teacher.firstname}"></td>
    </tr>
    </tbody>
</table>
<hr/>
<table>
    <caption>Etudiants</caption>
    <thead>
    <tr>
        <th>N° étudiant</th>
        <th>Nom</th>
        <th>Prénom</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student: ${students}">
        <td><a th:text="${student.id}" th:href="@{../../admin/student/} + ${student.id}"></a></td>
        <td th:text="${student.lastname}"></td>
        <td th:text="${student.firstname}"></td>
    </tr>
    </tbody>
</table>
<hr/>
</body>
</html>