
src/main/java/.DS_Store
target/classes/application.properties
target/classes/logback.xml
target/classes/m2/info/App.class
target/classes/m2/info/entities/Student.class
target/classes/m2/info/entities/Teacher.class
target/classes/m2/info/entities/User.class
target/classes/META-INF/hello-tp3.kotlin_module
target/classes/static/index.html
target/classes/test-server.ldif
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/compiler.xml
.idea/encodings.xml
*.class
