<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<div th:fragment="admin-header">
	<li><a href="/admin/">Home</a></li>
	<li><a href="/admin/modules/">Modules</a></li>
	<li><a href="/admin/users/">Utilisateurs</a></li>
</div>
<header th:fragment="student-header">
	<ul>
		<li><a href="/student/">Evaluations</a></li>
		<li><a href="/logout">Déconnexion</a></li>
	</ul>
</header>
<header th:fragment="teacher-header">
	<ul>
		<li><a href="/teacher/">Modules</a></li>
		<li><a href="/logout">Déconnexion</a></li>
	</ul>
</header>
</body>
</html>