<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<div th:object="${teacher}">
	<head th:replace="/frags/includes::head(Accueil)"></head>
</div>
<body>
<div th:replace="/frags/includes::navbar(${'teacher'})"></div>
<header id="head" class="secondary"></header>
<div class="jumbotron">
	<div class="container text-center">
		<h3 th:if="${modules.isEmpty()}">Aucun module lié</h3>
		<div th:if="${!modules.isEmpty()}">
			<h3>Modules dont vous êtes le référent</h3>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
					<tr>
						<th class="text-center">Module</th>
						<th class="text-center">Nombre d'évaluations</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="module:${modules}" th:object="${module}">
						<td><a th:text="*{label} + ' - ' + *{verboseName}" th:href="@{evaluations/} + *{id}"></a></td>
						<td th:text="${#arrays.length(module.evaluations)}"></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<footer th:replace="/frags/includes::foot"></footer>
</body>
</html>