<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head lang="fr">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Appli de notation</title>

	<!--Bootstrap CSS-->
	<link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
	<!--Bootstrap JS-->
	<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>


</body>
</html>